.center {
    width: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.attraction img {
    height: 195px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

#view_in_map{
    padding: 30px;
    margin-left: 365px;
    margin-top: 10px;
    font-size: 20px;
}