.center {
    width: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.traveller {
    margin-top: 20px;
}


.traveller img {
    margin: auto;
    margin-top: 20px;
    /* margin-left: 20px; 
        margin-right: 20px; */
    width: 200px;
}

p {
    color: grey;
    font-size: smaller;
    margin-bottom: 0;
}

.emer {
    color: red;
}